<ion-header>
  <ion-toolbar>
    <ion-title>
        Calculador de Tinta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h2></h2>
    <p>App para informar a quantidade ideal de tinta para pintura de sua parede</p>
    <ion-item>
        <ion-label>Altura: </ion-label>
        <ion-input type="text" [(ngModel)]="altura" name="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Largura: </ion-label>
        <ion-input type="text" [(ngModel)]="largura" name="title"></ion-input>
      </ion-item>
      <ion-button ion-button type="submit" (click)="Calcular()">Calcular</ion-button>
      <ion-button ion-button type="submit" (click)="Salvar()">Salvar</ion-button>
  </div>
  <div class="ion-padding">
    <p>Informações: </p>
    <p>{{info}}</p>
    <p>{{tinta}}</p>
  </div>
</ion-content>
